@import "tailwindcss";

@theme {
  --color-primary: #ff6a00;
  --color-dark: #111827;
  --color-light-bg: #f3f4f6;
  --font-inter: "Inter", sans-serif;
  --font-poppins: "Poppins", sans-serif;
}

@layer base {
  body {
    background-color: #f9fafb;
    color: #111827;
    font-family: var(--font-inter);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
